// #pr, #acd
//     border: solid black 1px
html
    font-size: 12pt
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p, a
    font-family: "Roboto", Helvetica, sans-serif
    // border: solid black 1px
    font-weight: 300
    //  white-space: nowrap
    // font-size: initial
h3
    font-size: 1.2rem
.topic
    font-size: 2.2rem
    font-weight: 300

a
     font-weight: 300
.team_pic
    border-radius: 100%
    width: 80%
    padding-top: 80%
    overflow: hidden
    object-fit: cover
    margin: 20px 0px
.department, #pr, #acd, #act, #dsn, #co, #da, #mk
    padding: 0px 40px !important


.committee_topic
    // line-height: 100px
.team_pic_test
    clip: rect(0px,60px,200px,0px)
#sg1
    background-image: url(../images/organizing_team/sg_1.jpg)
    background-position: 55% 20%
    background-size: 150%
    background-repeat: no-repeat
#sg2
    background-image: url(../images/organizing_team/sg_2.jpg)
    background-position: 60% 28%
    background-size: 155%
    background-repeat: no-repeat
#pr1
    background-image: url(../images/organizing_team/pr_1.jpg)
    background-position: 60% 15%
    background-size: 115%
    background-repeat: no-repeat
#pr2
    background-image: url(../images/organizing_team/pr_2.jpg)
    background-position: 85% 20%
    background-size: 140%
    background-repeat: no-repeat
#acd1
    background-image: url(../images/organizing_team/acd_1.jpg)
    background-position: 75% 25%
    background-size: 170%
    background-repeat: no-repeat
#acd2
    background-image: url(../images/organizing_team/acd_2.jpg)
    background-position: 60% 30%
    background-size: 160%
    background-repeat: no-repeat
#mk1
    background-image: url(../images/organizing_team/mk_1.jpg)
    background-position: 70% 20%
    background-size: 145%
    background-repeat: no-repeat
#mk2
    background-image: url(../images/organizing_team/mk_2.jpg)
    background-position: 80% 35%
    background-size: 155%
    background-repeat: no-repeat
#dsn1
    background-image: url(../images/organizing_team/dsn_1.jpg)
    background-position: 70% 40%
    background-size: 155%
    background-repeat: no-repeat
#dsn2
    background-image: url(../images/organizing_team/dsn_2.jpg)
    background-position: 70% 30%
    background-size: 150%
    background-repeat: no-repeat
#act1
    background-image: url(../images/organizing_team/act_1.jpg)
    background-position: 70% 20%
    background-size: 140%
    background-repeat: no-repeat
#act2
    background-image: url(../images/organizing_team/act_2.jpg)
    background-position: 50% 25%
    background-size: 120%
    background-repeat: no-repeat
#da1
    background-image: url(../images/organizing_team/da_1.jpg)
    background-position: 55% 25%
    background-size: 155%
    background-repeat: no-repeat
#da2
    background-image: url(../images/organizing_team/da_2.jpg)
    background-position: 35% 13%
    background-size: 145%
    background-repeat: no-repeat

#co1
    background-image: url(../images/organizing_team/co_1.jpg)
    background-position: 50% 10%
    background-size: 135%
    background-repeat: no-repeat
#co2
    background-image: url(../images/organizing_team/co_2.jpg)
    background-position: 65% 20%
    background-size: 150%
    background-repeat: no-repeat
